/* line 9, ../../src/stylesheets/_grid.sass */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../../src/stylesheets/_grid.sass */
body {
  font: 300 1em/1.5em "Proxima Nova", sans-serif;
  color: #707070;
}

/* line 21, ../../src/stylesheets/_grid.sass */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* line 25, ../../src/stylesheets/_grid.sass */
.row {
  padding: 10px 0;
  zoom: 1;
}
/* line 29, ../../src/stylesheets/_grid.sass */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 34, ../../src/stylesheets/_grid.sass */
.row:after {
  clear: both;
}

/* line 37, ../../src/stylesheets/_grid.sass */
.col {
  float: left;
}

/* line 42, ../../src/stylesheets/_grid.sass */
.social {
  width: 16.66667%;
}

/* line 46, ../../src/stylesheets/_grid.sass */
.callout {
  width: 33%;
}

/* line 58, ../../src/stylesheets/_grid.sass */
.logo {
  width: 83.33333%;
}

@media only screen and (min-width: 725px) and (max-width: 960px) {
  /* line 71, ../../src/stylesheets/_grid.sass */
  .container {
    max-width: 700px;
  }

  /* line 78, ../../src/stylesheets/_grid.sass */
  .social {
    width: 25%;
  }

  /* line 84, ../../src/stylesheets/_grid.sass */
  .callout {
    width: 50%;
  }

  /* line 90, ../../src/stylesheets/_grid.sass */
  .logo {
    width: 75%;
  }
}
@media only screen and (max-width: 724px) {
  /* line 105, ../../src/stylesheets/_grid.sass */
  .container {
    max-width: 95%;
  }

  /* line 109, ../../src/stylesheets/_grid.sass */
  .callout {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    display: block;
  }

  /* line 123, ../../src/stylesheets/_grid.sass */
  .social {
    display: none;
  }
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* line 1, ../../src/stylesheets/_animation.sass */
.navigator {
  position: absolute;
  right: 0;
  top: 100px;
  background: #cceefb;
  height: 155px;
  width: 5px;
}
/* line 8, ../../src/stylesheets/_animation.sass */
.navigator button {
  position: absolute;
  border: 5px solid #cceefb;
  background: #cceefb;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  left: -5px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
  outline: none;
}
/* line 19, ../../src/stylesheets/_animation.sass */
.navigator button:nth-of-type(1) {
  top: 0px;
}
/* line 21, ../../src/stylesheets/_animation.sass */
.navigator button:nth-of-type(2) {
  top: 50px;
}
/* line 23, ../../src/stylesheets/_animation.sass */
.navigator button:nth-of-type(3) {
  top: 100px;
}
/* line 25, ../../src/stylesheets/_animation.sass */
.navigator button:nth-of-type(4) {
  top: 150px;
}
/* line 27, ../../src/stylesheets/_animation.sass */
.navigator button.active {
  border: 5px solid white;
  background: #00aced;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

/* line 33, ../../src/stylesheets/_animation.sass */
.hand-bg {
  background: url("../images/hand-bg.png");
  position: relative;
  float: right;
  top: -20px;
  height: 390px;
  width: 390px;
  margin-right: 100px;
  display: block;
  overflow: hidden;
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-down {
  /* line 50, ../../src/stylesheets/_animation.sass */
  0% {
    top: 0px;
  }

  /* line 52, ../../src/stylesheets/_animation.sass */
  100% {
    top: 400px;
    z-index: -1;
  }
}

@keyframes slide-down {
  /* line 50, ../../src/stylesheets/_animation.sass */
  0% {
    top: 0px;
  }

  /* line 52, ../../src/stylesheets/_animation.sass */
  100% {
    top: 400px;
    z-index: -1;
  }
}

/* line 56, ../../src/stylesheets/_animation.sass */
.content {
  position: absolute;
  left: 0;
  top: 60px;
  width: 410px;
}
/* line 61, ../../src/stylesheets/_animation.sass */
.content h2 {
  color: #b5d460;
  margin-bottom: 20px;
}
/* line 64, ../../src/stylesheets/_animation.sass */
.content p, .content ul {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  color: white;
  opacity: 0.9;
}

/* line 70, ../../src/stylesheets/_animation.sass */
.content-1, .content-2, .content-3 {
  position: absolute;
}
/* line 72, ../../src/stylesheets/_animation.sass */
.content-1.active, .content-2.active, .content-3.active {
  opacity: 1;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 77, ../../src/stylesheets/_animation.sass */
.content-1.hidden, .content-2.hidden, .content-3.hidden {
  opacity: 0 !important;
  -webkit-transition-property: none !important;
          transition-property: none !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  -webkit-animation: none !important;
          animation: none !important;
}

/* line 83, ../../src/stylesheets/_animation.sass */
.content-1 {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out {
  /* line 91, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 1;
  }

  /* line 93, ../../src/stylesheets/_animation.sass */
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  /* line 91, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 1;
  }

  /* line 93, ../../src/stylesheets/_animation.sass */
  100% {
    opacity: 0;
  }
}

/* line 96, ../../src/stylesheets/_animation.sass */
.content-2 {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 0;
}

@-webkit-keyframes fade-in {
  /* line 105, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 0;
  }

  /* line 107, ../../src/stylesheets/_animation.sass */
  10% {
    opacity: 1;
  }

  /* line 109, ../../src/stylesheets/_animation.sass */
  50% {
    opacity: 1;
  }

  /* line 111, ../../src/stylesheets/_animation.sass */
  90% {
    opacity: 1;
  }

  /* line 113, ../../src/stylesheets/_animation.sass */
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  /* line 105, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 0;
  }

  /* line 107, ../../src/stylesheets/_animation.sass */
  10% {
    opacity: 1;
  }

  /* line 109, ../../src/stylesheets/_animation.sass */
  50% {
    opacity: 1;
  }

  /* line 111, ../../src/stylesheets/_animation.sass */
  90% {
    opacity: 1;
  }

  /* line 113, ../../src/stylesheets/_animation.sass */
  100% {
    opacity: 0;
  }
}

/* line 116, ../../src/stylesheets/_animation.sass */
.content-3 {
  -webkit-animation-name: fade-in-after;
          animation-name: fade-in-after;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fade-in-after {
  /* line 125, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 0;
  }

  /* line 127, ../../src/stylesheets/_animation.sass */
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-after {
  /* line 125, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 0;
  }

  /* line 127, ../../src/stylesheets/_animation.sass */
  100% {
    opacity: 1;
  }
}

/* line 130, ../../src/stylesheets/_animation.sass */
.laptop {
  background: url("../images/laptop.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 381px;
  right: 50px;
  z-index: 0;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-up {
  /* line 144, ../../src/stylesheets/_animation.sass */
  0% {
    top: 381px;
  }

  /* line 146, ../../src/stylesheets/_animation.sass */
  100% {
    top: -10px;
    z-index: 0;
  }
}

@keyframes slide-up {
  /* line 144, ../../src/stylesheets/_animation.sass */
  0% {
    top: 381px;
  }

  /* line 146, ../../src/stylesheets/_animation.sass */
  100% {
    top: -10px;
    z-index: 0;
  }
}

/* line 151, ../../src/stylesheets/_animation.sass */
.screens {
  position: absolute;
  overflow: hidden;
  top: 66px;
  left: 118px;
  z-index: 1;
  width: 188px;
  height: 335px;
  display: block;
}
/* line 160, ../../src/stylesheets/_animation.sass */
.screens img {
  position: absolute;
}
/* line 162, ../../src/stylesheets/_animation.sass */
.screens .menu {
  bottom: 13px;
}

/* line 165, ../../src/stylesheets/_animation.sass */
.screen-1 {
  z-index: 4;
  top: 0px;
  left: 0px;
}

/* line 170, ../../src/stylesheets/_animation.sass */
.screen-2 {
  z-index: 2;
}

/* line 173, ../../src/stylesheets/_animation.sass */
.popup {
  z-index: 3;
  top: 70px;
  left: 35px;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes grow {
  /* line 184, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 0;
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  /* line 188, ../../src/stylesheets/_animation.sass */
  50% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 191, ../../src/stylesheets/_animation.sass */
  75% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  /* line 194, ../../src/stylesheets/_animation.sass */
  85% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.86);
            transform: scale(0.86);
  }

  /* line 197, ../../src/stylesheets/_animation.sass */
  90% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  /* line 200, ../../src/stylesheets/_animation.sass */
  95% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.89);
            transform: scale(0.89);
  }

  /* line 203, ../../src/stylesheets/_animation.sass */
  100% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  /* line 184, ../../src/stylesheets/_animation.sass */
  0% {
    opacity: 0;
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  /* line 188, ../../src/stylesheets/_animation.sass */
  50% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 191, ../../src/stylesheets/_animation.sass */
  75% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  /* line 194, ../../src/stylesheets/_animation.sass */
  85% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.86);
            transform: scale(0.86);
  }

  /* line 197, ../../src/stylesheets/_animation.sass */
  90% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  /* line 200, ../../src/stylesheets/_animation.sass */
  95% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(0.89);
            transform: scale(0.89);
  }

  /* line 203, ../../src/stylesheets/_animation.sass */
  100% {
    -webkit-transform-origin: 15% 100%;
            transform-origin: 15% 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* line 206, ../../src/stylesheets/_animation.sass */
.finger {
  background: url("../images/finger.png");
  width: 97px;
  height: 173px;
  position: absolute;
  z-index: 2;
  -webkit-animation-name: click;
          animation-name: click;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes click {
  /* line 218, ../../src/stylesheets/_animation.sass */
  0% {
    bottom: -150px;
    right: 30px;
  }

  /* line 221, ../../src/stylesheets/_animation.sass */
  30% {
    bottom: -90px;
    right: 70px;
  }

  /* line 224, ../../src/stylesheets/_animation.sass */
  35% {
    bottom: -90px;
    right: 75px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  /* line 229, ../../src/stylesheets/_animation.sass */
  40% {
    bottom: -90px;
    right: 75px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  /* line 234, ../../src/stylesheets/_animation.sass */
  45% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  /* line 239, ../../src/stylesheets/_animation.sass */
  50% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 244, ../../src/stylesheets/_animation.sass */
  60% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 249, ../../src/stylesheets/_animation.sass */
  70% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 254, ../../src/stylesheets/_animation.sass */
  80% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 259, ../../src/stylesheets/_animation.sass */
  90% {
    bottom: -110px;
    right: 70px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }

  /* line 263, ../../src/stylesheets/_animation.sass */
  100% {
    bottom: -110px;
    right: 70px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes click {
  /* line 218, ../../src/stylesheets/_animation.sass */
  0% {
    bottom: -150px;
    right: 30px;
  }

  /* line 221, ../../src/stylesheets/_animation.sass */
  30% {
    bottom: -90px;
    right: 70px;
  }

  /* line 224, ../../src/stylesheets/_animation.sass */
  35% {
    bottom: -90px;
    right: 75px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  /* line 229, ../../src/stylesheets/_animation.sass */
  40% {
    bottom: -90px;
    right: 75px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  /* line 234, ../../src/stylesheets/_animation.sass */
  45% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }

  /* line 239, ../../src/stylesheets/_animation.sass */
  50% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 244, ../../src/stylesheets/_animation.sass */
  60% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 249, ../../src/stylesheets/_animation.sass */
  70% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 254, ../../src/stylesheets/_animation.sass */
  80% {
    bottom: -120px;
    right: 30px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /* line 259, ../../src/stylesheets/_animation.sass */
  90% {
    bottom: -110px;
    right: 70px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }

  /* line 263, ../../src/stylesheets/_animation.sass */
  100% {
    bottom: -110px;
    right: 70px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/* line 268, ../../src/stylesheets/_animation.sass */
.screen-1 {
  -webkit-animation-name: slide-one;
          animation-name: slide-one;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-one {
  /* line 276, ../../src/stylesheets/_animation.sass */
  0% {
    top: 0px;
    left: 0px;
  }

  /* line 279, ../../src/stylesheets/_animation.sass */
  100% {
    top: 0px;
    left: -200px;
  }
}

@keyframes slide-one {
  /* line 276, ../../src/stylesheets/_animation.sass */
  0% {
    top: 0px;
    left: 0px;
  }

  /* line 279, ../../src/stylesheets/_animation.sass */
  100% {
    top: 0px;
    left: -200px;
  }
}

/* line 283, ../../src/stylesheets/_animation.sass */
.screen-2 {
  -webkit-animation-name: slide-two;
          animation-name: slide-two;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-two {
  /* line 291, ../../src/stylesheets/_animation.sass */
  0% {
    top: 0px;
    left: 0px;
  }

  /* line 294, ../../src/stylesheets/_animation.sass */
  100% {
    top: -400px;
    left: 0px;
  }
}

@keyframes slide-two {
  /* line 291, ../../src/stylesheets/_animation.sass */
  0% {
    top: 0px;
    left: 0px;
  }

  /* line 294, ../../src/stylesheets/_animation.sass */
  100% {
    top: -400px;
    left: 0px;
  }
}

/* line 299, ../../src/stylesheets/_animation.sass */
.animation.step1 .hand-bg {
  top: -20px;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 304, ../../src/stylesheets/_animation.sass */
.animation.step1 .laptop {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 308, ../../src/stylesheets/_animation.sass */
.animation.step1 .finger {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  bottom: -130px;
  right: 30px;
}
/* line 314, ../../src/stylesheets/_animation.sass */
.animation.step1 .screen-1 {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  z-index: 5;
}
/* line 319, ../../src/stylesheets/_animation.sass */
.animation.step1 .scrreen-2 {
  top: 0px;
  left: 0px;
  z-index: 3;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-animation: none;
          animation: none;
}
/* line 325, ../../src/stylesheets/_animation.sass */
.animation.step1 .screen-3 {
  top: 0px;
  left: 0px;
  z-index: 2;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-animation: none;
          animation: none;
}

/* line 333, ../../src/stylesheets/_animation.sass */
.animation.step2 .hand-bg {
  top: -20px;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 338, ../../src/stylesheets/_animation.sass */
.animation.step2 .laptop {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 342, ../../src/stylesheets/_animation.sass */
.animation.step2 .finger {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  bottom: -130px;
  right: 30px;
}
/* line 348, ../../src/stylesheets/_animation.sass */
.animation.step2 .screen-1 {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  z-index: 4;
}
/* line 353, ../../src/stylesheets/_animation.sass */
.animation.step2 .screen-2 {
  z-index: 5;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 358, ../../src/stylesheets/_animation.sass */
.animation.step2 .screen-2 .bg {
  top: 0;
  left: 0;
  z-index: 5;
}
/* line 362, ../../src/stylesheets/_animation.sass */
.animation.step2 .menu {
  z-index: 5;
}
/* line 364, ../../src/stylesheets/_animation.sass */
.animation.step2 .popup {
  top: 70px;
  left: 35px;
  z-index: 5;
}
/* line 368, ../../src/stylesheets/_animation.sass */
.animation.step2 .screen-3 {
  top: 0px;
  left: 0px;
  z-index: 3;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-animation: none;
          animation: none;
}

/* line 376, ../../src/stylesheets/_animation.sass */
.animation.step3 .hand-bg {
  top: -20px;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 381, ../../src/stylesheets/_animation.sass */
.animation.step3 .laptop {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 385, ../../src/stylesheets/_animation.sass */
.animation.step3 .finger {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  bottom: -130px;
  right: 30px;
}
/* line 391, ../../src/stylesheets/_animation.sass */
.animation.step3 .screen-1 {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  z-index: 4;
}
/* line 396, ../../src/stylesheets/_animation.sass */
.animation.step3 .screen-2 {
  z-index: 4;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 401, ../../src/stylesheets/_animation.sass */
.animation.step3 .screen-2 .bg {
  top: 0;
  left: 0;
  z-index: 4;
}
/* line 405, ../../src/stylesheets/_animation.sass */
.animation.step3 .menu {
  z-index: 5;
}
/* line 407, ../../src/stylesheets/_animation.sass */
.animation.step3 .popup {
  top: 70px;
  left: 35px;
  z-index: 4;
}
/* line 411, ../../src/stylesheets/_animation.sass */
.animation.step3 .screen-3 {
  top: 0px;
  left: 0px;
  z-index: 5;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-animation: none;
          animation: none;
}

/* line 419, ../../src/stylesheets/_animation.sass */
.animation.step4 .hand-bg {
  display: none;
}
/* line 421, ../../src/stylesheets/_animation.sass */
.animation.step4 .laptop {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  top: -10px;
}
/* line 426, ../../src/stylesheets/_animation.sass */
.animation.step4 .finger {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  bottom: -130px;
  right: 30px;
}
/* line 432, ../../src/stylesheets/_animation.sass */
.animation.step4 .screen-1 {
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
  z-index: 4;
}
/* line 437, ../../src/stylesheets/_animation.sass */
.animation.step4 .screen-2 {
  z-index: 4;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-animation: none;
          animation: none;
}
/* line 442, ../../src/stylesheets/_animation.sass */
.animation.step4 .screen-2 .bg {
  top: 0;
  left: 0;
  z-index: 4;
}
/* line 446, ../../src/stylesheets/_animation.sass */
.animation.step4 .menu {
  z-index: 5;
}
/* line 448, ../../src/stylesheets/_animation.sass */
.animation.step4 .popup {
  top: 70px;
  left: 35px;
  z-index: 4;
}
/* line 452, ../../src/stylesheets/_animation.sass */
.animation.step4 .screen-3 {
  top: 0px;
  left: 0px;
  z-index: 5;
  -webkit-transition-property: none;
          transition-property: none;
  -webkit-animation: none;
          animation: none;
}

/* line 7, ../../src/stylesheets/main.sass */
input[type="text"],
input[type="email"] {
  font-size: 1em;
  outline: none;
}

/* line 12, ../../src/stylesheets/main.sass */
header {
  padding: 15px;
}

/* line 15, ../../src/stylesheets/main.sass */
a {
  text-decoration: none;
}

/* line 18, ../../src/stylesheets/main.sass */
h2, h3 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  color: #2c5385;
}

/* line 23, ../../src/stylesheets/main.sass */
h4, h5 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
}

/* line 27, ../../src/stylesheets/main.sass */
p, span, a, ul, ol {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  color: #2c5385;
}

/* line 31, ../../src/stylesheets/main.sass */
ul {
  margin-left: 20px;
  color: white;
}

/* line 35, ../../src/stylesheets/main.sass */
.button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  outline: none;
}

/* line 40, ../../src/stylesheets/main.sass */
input {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
}

/* line 44, ../../src/stylesheets/main.sass */
footer span {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
}

/* line 48, ../../src/stylesheets/main.sass */
.button {
  text-transform: uppercase;
  background: #a9cb5d;
  text-decoration: none;
  color: #1d3d78;
  border-radius: 11px;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
}
/* line 58, ../../src/stylesheets/main.sass */
.button:hover {
  background-color: #83a635;
}

/* line 61, ../../src/stylesheets/main.sass */
input {
  border-radius: 11px;
  background: white;
  border: 1px solid #dadcdb;
  padding: 12px 20px;
}

/* line 68, ../../src/stylesheets/main.sass */
.js-input.valid {
  border-color: #a9cb5d;
}
/* line 70, ../../src/stylesheets/main.sass */
.js-input.valid::-webkit-input-placeholder {
  color: #a9cb5d;
}
/* line 72, ../../src/stylesheets/main.sass */
.js-input.valid::-moz-placeholder {
  color: #a9cb5d;
}
/* line 74, ../../src/stylesheets/main.sass */
.js-input.valid:-ms-input-placeholder {
  color: #a9cb5d;
}
/* line 77, ../../src/stylesheets/main.sass */
.js-input.error {
  border-color: #dbb0a0;
}
/* line 79, ../../src/stylesheets/main.sass */
.js-input.error::-webkit-input-placeholder {
  color: #dbb0a0;
}
/* line 81, ../../src/stylesheets/main.sass */
.js-input.error::-moz-placeholder {
  color: #dbb0a0;
}
/* line 83, ../../src/stylesheets/main.sass */
.js-input.error:-ms-input-placeholder {
  color: #dbb0a0;
}

/* line 88, ../../src/stylesheets/main.sass */
.hero {
  height: 368px;
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 94, ../../src/stylesheets/main.sass */
.actions {
  background: #eff3f6;
  padding: 28px;
}
/* line 97, ../../src/stylesheets/main.sass */
.actions form {
  text-align: center;
}
/* line 99, ../../src/stylesheets/main.sass */
.actions p {
  letter-spacing: 0.02em;
  line-height: 19px;
  text-align: left;
  width: 288px;
  margin-left: 23px;
  display: inline-block;
  vertical-align: middle;
  color: #274c79;
}
/* line 108, ../../src/stylesheets/main.sass */
.actions input[type="email"] {
  width: 302px;
  margin-right: 20px;
  vertical-align: middle;
}
/* line 112, ../../src/stylesheets/main.sass */
.actions .button {
  width: 190px;
  vertical-align: middle;
}
/* line 115, ../../src/stylesheets/main.sass */
.actions input[type="submit"] {
  border: none;
  vertical-align: middle;
}

/* line 120, ../../src/stylesheets/main.sass */
.callouts {
  padding: 58px 0;
  background: white;
}
/* line 125, ../../src/stylesheets/main.sass */
.callouts .row:first-child .callout {
  margin-bottom: 48px;
}

/* line 127, ../../src/stylesheets/main.sass */
.callout {
  text-align: center;
}
/* line 129, ../../src/stylesheets/main.sass */
.callout .wrapper {
  width: 210px;
  margin: 0 auto;
}
/* line 132, ../../src/stylesheets/main.sass */
.callout img {
  margin-bottom: 10px;
}
/* line 134, ../../src/stylesheets/main.sass */
.callout h3 {
  margin-bottom: 15px;
}
/* line 136, ../../src/stylesheets/main.sass */
.callout p {
  font-size: 14px;
}

/* line 140, ../../src/stylesheets/main.sass */
.social i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-right: 15px;
  color: white;
  cursor: pointer;
}
/* line 149, ../../src/stylesheets/main.sass */
.social i.fa-facebook {
  background: #3460a1;
}
/* line 151, ../../src/stylesheets/main.sass */
.social i.fa-twitter {
  background: #28aae1;
}
/* line 153, ../../src/stylesheets/main.sass */
.social i.fa-linkedin {
  background: #136d9d;
}

/* line 156, ../../src/stylesheets/main.sass */
.privacy-policy,
.terms-of-service {
  background-color: #eff3f6;
  color: black;
  padding: 40px 0;
}
/* line 162, ../../src/stylesheets/main.sass */
.privacy-policy h2,
.terms-of-service h2 {
  color: black;
  font-size: 1.375em;
  margin-bottom: 1em;
}
/* line 167, ../../src/stylesheets/main.sass */
.privacy-policy h5,
.terms-of-service h5 {
  font-size: 1em;
}
/* line 170, ../../src/stylesheets/main.sass */
.privacy-policy p,
.privacy-policy ul,
.privacy-policy ol,
.terms-of-service p,
.terms-of-service ul,
.terms-of-service ol {
  color: black;
  font-size: 0.875em;
  line-height: 1.4285;
  margin-bottom: 1.4285em;
}
/* line 178, ../../src/stylesheets/main.sass */
.privacy-policy p ul, .privacy-policy p ol,
.privacy-policy ul ul,
.privacy-policy ul ol,
.privacy-policy ol ul,
.privacy-policy ol ol,
.terms-of-service p ul,
.terms-of-service p ol,
.terms-of-service ul ul,
.terms-of-service ul ol,
.terms-of-service ol ul,
.terms-of-service ol ol {
  font-size: 1em;
}
/* line 182, ../../src/stylesheets/main.sass */
.privacy-policy p ul, .privacy-policy p ol, .privacy-policy p:last-child,
.privacy-policy ul ul,
.privacy-policy ul ol,
.privacy-policy ul:last-child,
.privacy-policy ol ul,
.privacy-policy ol ol,
.privacy-policy ol:last-child,
.terms-of-service p ul,
.terms-of-service p ol,
.terms-of-service p:last-child,
.terms-of-service ul ul,
.terms-of-service ul ol,
.terms-of-service ul:last-child,
.terms-of-service ol ul,
.terms-of-service ol ol,
.terms-of-service ol:last-child {
  margin-bottom: 0;
}
/* line 187, ../../src/stylesheets/main.sass */
.privacy-policy ul,
.terms-of-service ul {
  padding-left: 1em;
  margin-left: 0;
}
/* line 191, ../../src/stylesheets/main.sass */
.privacy-policy ol,
.terms-of-service ol {
  padding-left: 1.75em;
}
/* line 194, ../../src/stylesheets/main.sass */
.privacy-policy a,
.terms-of-service a {
  color: blue;
}
/* line 197, ../../src/stylesheets/main.sass */
.privacy-policy .container,
.terms-of-service .container {
  padding: 0 3.125%;
}

/* line 200, ../../src/stylesheets/main.sass */
footer {
  background: #eff3f6;
  text-align: center;
  font-size: 0.9em;
  padding: 35px;
  color: #2c5385;
}
/* line 206, ../../src/stylesheets/main.sass */
footer a {
  color: #2c5385;
}
/* line 208, ../../src/stylesheets/main.sass */
footer a:first-of-type {
  margin-left: 20px;
}
/* line 211, ../../src/stylesheets/main.sass */
footer a:not(:last-child):after {
  margin: 0 10px;
  content: "|";
}
/* line 215, ../../src/stylesheets/main.sass */
footer.footer__bg-white {
  background: white;
}

@media only screen and (min-width: 725px) and (max-width: 960px) {
  /* line 219, ../../src/stylesheets/main.sass */
  input[type="submit"] {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 724px) {
  /* line 224, ../../src/stylesheets/main.sass */
  .actions p {
    text-align: center;
  }
  /* line 226, ../../src/stylesheets/main.sass */
  .actions input {
    margin-top: 20px;
  }

  /* line 228, ../../src/stylesheets/main.sass */
  .hand-bg, .laptop-animation, .navigator {
    display: none;
  }

  /* line 230, ../../src/stylesheets/main.sass */
  .content {
    position: relative;
    width: 350px;
    margin: 0 auto;
  }

  /* line 234, ../../src/stylesheets/main.sass */
  .actions input[type="email"] {
    margin: 0;
  }

  /* line 236, ../../src/stylesheets/main.sass */
  .actions p {
    margin: 0;
    margin-bottom: 20px;
  }

  /* line 239, ../../src/stylesheets/main.sass */
  .callout {
    height: 270px;
  }
}
